*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%;
    width: 100%;
}


// nav
// nav
main{


// page 1
// page 1

// page 2
// page 2

// page 3
// page 3

// page 4
// page 4

// page 5
// page 5

// page 6
// page 6

// page 7
// page 7

// page 8
// page 8

}
// footer
// footer